h1 {
    color: black;
    border: 0.2rem solid black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;

}

p {
    font-size: 1.5rem;
    color: whitesmoke;


}

#p1 {
    text-align: center;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    background-color: black;
    border: 5px white solid;


}

body {
    background-color: gray;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}

#p1 {
    color: blueviolet;
}


.caixa {
    background-color: blueviolet;
    padding: 2.5rem;
    border: solid blue 10px;
    text-align: center;

}
button{
    color: aqua;
    background-color: black;
    border: black;
    width: ;
}