*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../imagens/tra6.jpg');
    background-attachment: fixed;
    background-size: cover;

    
    font-size: 1rem;/*Tamanho padrão da fpnte do dipositivo
    */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

/**********************************************************/
header#topo{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 200px;
    text-align: center;

    /*display: table-cell;
    width: 500px;
    vertical-align: middle;
    o tamanho - width - só aceita propriedades valored fixos*/

    line-height: 200px;


}
header#topo h1{
    font-size: 3.7em;/*60px*/
}
/************************************************************/


/*menu*/
nav{
    background-color: bisque;
    position: fixed;
    z-index: 100;
    top: 310px;
    left: 0;
    width: 200px;
}
nav li a{
    font-size: 0.875rem;/*14px*/
    text-decoration: none;
    line-height: 2.5rem;
    display: block;

}
nav a:link, a:visited{
    background-color: rgb(255,255,255);
    color: rgb(128, 128, 128);
    border-left: rgb(255, 0, 0) 3px solid;
    
}
nav a:hover,nav a:active{
    background-color: rgb(0, 0, 0);
    border-left-color: aqua;
}

/************************************************************/
section{
    background-color: rgba(255, 255, 255,.7);
    
    width: 80%;
    height: auto;
    padding: 30px;
    margin: 20px auto;
    border-radius: 30px;
    
    font-size: 1.25rem;   /*20px*/
    

}
section h2{
    font-size: 1.875rem;/*30px*/
    text-align: center;
    text-decoration: underline;
    
    padding: 30px;

}
section p{
    margin:.5rem;
    text-indent: 70px;
}
section p::first-letter{
    font-size: 2.5rem;
    background-color: yellow;
    color: rgb(255, 0, 0);
    padding: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img.esq{
    float: left;
    margin:0 10px 10px;
}
img.dir{
    float: right;
    margin:0 10px 10px;
}
/*************************************************************************/
footer{
    height: 100px;
    line-height: 100px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
}